Magnus/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Magnus/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Magnus/bin/Debug/ru/DevExpress.XtraWizard.v17.1.resources.dll
Magnus/bin/Debug/ru/DevExpress.XtraTreeList.v17.1.resources.dll
Magnus/bin/Debug/ru/DevExpress.XtraPrinting.v17.1.resources.dll
Magnus/bin/Debug/de/DevExpress.Sparkline.v17.1.Core.resources.dll
Magnus/bin/Debug/de/DevExpress.RichEdit.v17.1.Core.resources.dll
Magnus/bin/Debug/de/DevExpress.Printing.v17.1.Core.resources.dll
Magnus/bin/Debug/de/DevExpress.Pdf.v17.1.Core.resources.dll
Magnus/bin/Debug/de/DevExpress.Office.v17.1.Core.resources.dll
Magnus/bin/Debug/de/DevExpress.Data.v17.1.resources.dll
Magnus/bin/Debug/Newtonsoft.Json.dll
Magnus/bin/Debug/Magnus.pdb
Magnus/bin/Debug/Magnus.exe
Magnus/bin/Debug/DevExpress.XtraWizard.v17.1.xml
Magnus/bin/Debug/DevExpress.Sparkline.v17.1.Core.dll
Magnus/bin/Debug/DevExpress.RichEdit.v17.1.Core.xml
Magnus/bin/Debug/DevExpress.RichEdit.v17.1.Core.dll
Magnus/bin/Debug/DevExpress.Printing.v17.1.Core.xml
Magnus/bin/Debug/DevExpress.Printing.v17.1.Core.dll
Magnus/bin/Debug/DevExpress.Pdf.v17.1.Core.xml
Magnus/bin/Debug/DevExpress.Pdf.v17.1.Core.dll
Magnus/bin/Debug/DevExpress.Office.v17.1.Core.xml
Magnus/bin/Debug/DevExpress.Office.v17.1.Core.dll
Magnus/bin/Debug/DevExpress.Images.v17.1.dll
Magnus/bin/Debug/DevExpress.Data.v17.1.xml
Magnus/bin/Debug/DevExpress.Data.v17.1.dll
Magnus/bin/Debug/DevExpress.BonusSkins.v17.1.dll
Magnus/obj/Debug/Magnus.vbproj.CopyComplete
Magnus/obj/Debug/Magnus.pdb
Magnus/obj/Debug/Magnus.exe
Magnus/obj/Debug/Magnus.XtraForm1.resources
Magnus/obj/Debug/Magnus.Resources.resources
Magnus/obj/Debug/Magnus.LoginForm.resources
Magnus/obj/Debug/Magnus.FormUser.resources
Magnus/obj/Debug/Magnus.FormSetting.resources
Magnus/obj/Debug/Magnus.FormMain.resources
Magnus/obj/Debug/Magnus.FormGantiPassword.resources
Magnus/obj/Debug/Magnus.FormDaftarTransaksi.resources
Magnus/obj/Debug/Magnus.FormDaftar.resources
Magnus/obj/Debug/Magnus.AboutBox1.resources
Magnus/bin/Debug/es/DevExpress.RichEdit.v17.1.Core.resources.dll
Magnus/bin/Debug/es/DevExpress.Printing.v17.1.Core.resources.dll
Magnus/bin/Debug/es/DevExpress.Pdf.v17.1.Core.resources.dll
Magnus/bin/Debug/es/DevExpress.Office.v17.1.Core.resources.dll
Magnus/bin/Debug/es/DevExpress.Data.v17.1.resources.dll
Magnus/bin/Debug/de/DevExpress.XtraWizard.v17.1.resources.dll
Magnus/bin/Debug/de/DevExpress.XtraTreeList.v17.1.resources.dll
Magnus/bin/Debug/de/DevExpress.XtraPrinting.v17.1.resources.dll
Magnus/bin/Debug/de/DevExpress.XtraLayout.v17.1.resources.dll
Magnus/bin/Debug/de/DevExpress.XtraGrid.v17.1.resources.dll
Magnus/bin/Debug/DevExpress.XtraPrinting.v17.1.xml
Magnus/bin/Debug/DevExpress.XtraPrinting.v17.1.dll
Magnus/bin/Debug/DevExpress.XtraLayout.v17.1.xml
Magnus/bin/Debug/DevExpress.XtraLayout.v17.1.dll
Magnus/bin/Debug/DevExpress.XtraGrid.v17.1.xml
Magnus/bin/Debug/DevExpress.XtraGrid.v17.1.dll
Magnus/bin/Debug/DevExpress.XtraEditors.v17.1.xml
Magnus/bin/Debug/DevExpress.XtraEditors.v17.1.dll
Magnus/bin/Debug/DevExpress.XtraBars.v17.1.xml
Magnus/bin/Debug/DevExpress.XtraBars.v17.1.dll
Magnus/bin/Debug/DevExpress.Utils.v17.1.xml
Magnus/bin/Debug/DevExpress.Utils.v17.1.dll
Magnus/bin/Debug/DevExpress.Sparkline.v17.1.Core.xml
Magnus/obj/Debug/magnus.exe.licenses
Magnus/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
Magnus/obj/Debug/Magnus.vbprojAssemblyReference.cache
Magnus/obj/Debug/Magnus.vbproj.GenerateResource.cache
Magnus/obj/Debug/Magnus.vbproj.FileListAbsolute.txt
Magnus/obj/Debug/Magnus.vbproj.CoreCompileInputs.cache
Magnus/bin/Debug/ja/DevExpress.XtraPrinting.v17.1.resources.dll
Magnus/bin/Debug/ja/DevExpress.XtraLayout.v17.1.resources.dll
Magnus/bin/Debug/ja/DevExpress.XtraGrid.v17.1.resources.dll
Magnus/bin/Debug/ja/DevExpress.XtraEditors.v17.1.resources.dll
Magnus/bin/Debug/ja/DevExpress.XtraBars.v17.1.resources.dll
Magnus/bin/Debug/ja/DevExpress.Utils.v17.1.resources.dll
Magnus/bin/Debug/ja/DevExpress.Sparkline.v17.1.Core.resources.dll
Magnus/bin/Debug/ja/DevExpress.RichEdit.v17.1.Core.resources.dll
Magnus/bin/Debug/es/DevExpress.XtraPrinting.v17.1.resources.dll
Magnus/bin/Debug/es/DevExpress.XtraLayout.v17.1.resources.dll
Magnus/bin/Debug/es/DevExpress.XtraGrid.v17.1.resources.dll
Magnus/bin/Debug/es/DevExpress.XtraEditors.v17.1.resources.dll
Magnus/bin/Debug/es/DevExpress.XtraBars.v17.1.resources.dll
Magnus/bin/Debug/es/DevExpress.Utils.v17.1.resources.dll
Magnus/bin/Debug/es/DevExpress.Sparkline.v17.1.Core.resources.dll
Magnus/bin/Debug/ru/DevExpress.Pdf.v17.1.Core.resources.dll
Magnus/bin/Debug/ru/DevExpress.Office.v17.1.Core.resources.dll
Magnus/bin/Debug/ru/DevExpress.Data.v17.1.resources.dll
Magnus/bin/Debug/ja/DevExpress.XtraWizard.v17.1.resources.dll
Magnus/bin/Debug/ja/DevExpress.XtraTreeList.v17.1.resources.dll
Magnus/bin/Debug/ja/DevExpress.Printing.v17.1.Core.resources.dll
Magnus/bin/Debug/ja/DevExpress.Pdf.v17.1.Core.resources.dll
Magnus/bin/Debug/de/DevExpress.XtraEditors.v17.1.resources.dll
Magnus/bin/Debug/de/DevExpress.XtraBars.v17.1.resources.dll
Magnus/bin/Debug/de/DevExpress.Utils.v17.1.resources.dll
Magnus/bin/Debug/ru/DevExpress.XtraLayout.v17.1.resources.dll
Magnus/bin/Debug/ru/DevExpress.XtraGrid.v17.1.resources.dll
Magnus/bin/Debug/ru/DevExpress.XtraEditors.v17.1.resources.dll
Magnus/bin/Debug/ru/DevExpress.XtraBars.v17.1.resources.dll
Magnus/bin/Debug/ru/DevExpress.Utils.v17.1.resources.dll
Magnus/bin/Debug/ru/DevExpress.Sparkline.v17.1.Core.resources.dll
Magnus/bin/Debug/ru/DevExpress.RichEdit.v17.1.Core.resources.dll
Magnus/bin/Debug/ru/DevExpress.Printing.v17.1.Core.resources.dll
Magnus/bin/Debug/ja/DevExpress.Office.v17.1.Core.resources.dll
Magnus/bin/Debug/ja/DevExpress.Data.v17.1.resources.dll
Magnus/bin/Debug/es/DevExpress.XtraWizard.v17.1.resources.dll
Magnus/bin/Debug/es/DevExpress.XtraTreeList.v17.1.resources.dll
Magnus/bin/Debug/DevExpress.XtraWizard.v17.1.dll
Magnus/bin/Debug/DevExpress.XtraTreeList.v17.1.xml
Magnus/bin/Debug/DevExpress.XtraTreeList.v17.1.dll
